<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1 style = "color:brown"> TURING </h1>
    <img src="/img/turing.jpg" alt="">
<li><a href="#Biografía">Biografía</a></li>
<ol>
    <li><a href="#Infancia">Su infancia</a></li>
    <li><a href="#Estudios"></a>Estudios</li>
    <li><a href="#Christopher"></a>Christopher Morcom</li>
    <li><a href="Universidad">La Universidad y sus estudios sobre computabilidad</a></li>
</ol>
<li><a href="#Solución">Solución al problema de decisión</a></li>

<h2 id="Biografía">Biografía</h2>
<p>Turing nació en Maida Vale, Londres,10​ Su padre Julius Mathison Turing (1873-1944) era miembro del cuerpo de funcionarios británicos en la India, estaba de licencia de su cargo en el Servicio Civil Indio (ICS) en Chatrapur, posteriormente Madrás y actualmente en el estado de Odisha, en la India. El padre de Turing era hijo de un clérigo, el reverendo John Robert Turing, de una familia escocesa de comerciantes que tenía su sede en los Países Bajos e incluía un baronet. La madre de Turing, era Ethel Sara Turing (de soltera Stoney; 1881-1976), hija de Edward Waller Stoney, ingeniero jefe de Madras Railways. Los Stoney eran una familia de la nobleza protestante angloirlandesa de los condados de Tipperary y Longford, mientras que la propia Ethel había pasado gran parte de su infancia en el condado de Clare.</p>
<h2 id="Infancia">Su infancia</h2>
<p>El trabajo de Julius en el ICS llevó a la familia a la India británica, donde su abuelo había sido general en el Ejército Bengalí. Sin embargo, tanto Julius como Ethel querían que sus hijos se criaran en Gran Bretaña, por lo que se mudaron a Maida Vale, Londres, donde nació Alan Turing el 23 de junio de 1912, como lo registra una placa azul en el exterior de la casa, inaugurada el 23 de junio de 2012, en el centenario del nacimiento de Turing. Turing tuvo un hermano mayor.</p>
<p>Durante su infancia, sus padres viajaron constantemente entre Hastings, Reino Unido, y la India debido a que su padre seguía activo en la Administración Colonial, por lo que pasó algunos años viviendo con su hermano en la casa de un matrimonio retirado del ejército.</p>
<p>Muy pronto Turing mostró signos del genio que luego sería. Desde muy pequeño Turing mostró un gran interés por la lectura (se cuenta que aprendió a leer por sí solo en tres semanas), por los números y los rompecabezas.</p>
<h2 id="Estudios">Estudios</h2>
<p>Entre enero de 1922 y 1926, Turing estudió en la preparatoria Hazelhurst, una escuela independiente en el pueblo de Frant en Sussex (hoy East Oriental).</p>
<p>En 1926, con trece años, ingresó en el internado de Sherborne en Dorset. Su primer día de clase coincidió con la huelga general en Inglaterra, pero su determinación por asistir a clase era tan grande que recorrió en solitario, con su bicicleta, los más de 96 km que separaban Southampton de su escuela, pasando la noche en una posada. Tal hazaña fue recogida en la prensa local.</p>
<p>La inclinación natural de Turing hacia la matemática y la ciencia no le atrajo el respeto de sus profesores de Sherborne, cuyo concepto de educación hacía mayor énfasis en los clásicos. En la escuela de Sherbone, ganó la mayor parte de los premios matemáticos que se otorgaban y, además, realizaba experimentos químicos por su cuenta aunque la opinión del profesorado respecto a la independencia y ambición de Turing no era demasiado favorable. A pesar de ello, Turing continuó mostrando una singular habilidad para los estudios que realmente le gustaban, y llegó a resolver problemas muy avanzados para su edad (16 años) sin ni siquiera haber estudiado cálculo elemental.</p>
<h2 id="Christopher">Christopher Morcom</h2>
<p>Christopher Morcom estudiaba junto con Turing en la escuela de Sherborne y ambos compartían la pasión por la ciencia. Durante las clases de matemática o física, se intercambiaban notas de comentarios sobre rompecabezas. Christopher invitó a Alan a conocer a su madre, una artista. Alan se enamoró de él. Fue su primer amor y la primera persona que creyó en sus ideas y con quien podía continuar desarrollándolas.</p>
<p>13 de febrero de 1930,17​ solo unas pocas semanas después de su última temporada en Sherborne, Christopher Morcom falleció debido a complicaciones de la tuberculosis bovina, contraída tras beber leche de alguna vaca infectada. Al recordarlo Turing afirmaba: «Mis recuerdos más vívidos de Chris son casi siempre de las cosas tan amables que me decía».</p>
<p>Desde entonces la fe religiosa de Turing se hizo pedazos, y se volvió ateo. También se obsesionó por entender la naturaleza de la consciencia, su estructura y orígenes. Adoptó la convicción de que todos los fenómenos, incluyendo el funcionamiento del cerebro humano, son materialistas.Sin embargo, siguió creyendo en la supervivencia del espíritu después de la muerte.</p>
<h2 id="Universidad">La Universidad y sus estudios sobre computabilidad</h2>
<p>Debido a su falta de voluntad para esforzarse con la misma intensidad en el estudio de los clásicos que en el de la ciencia y la matemática, Turing suspendió sus exámenes finales varias veces y tuvo que ingresar en la escuela universitaria que eligió en segundo lugar, King's College, Universidad de Cambridge, en vez de en la que era su primera elección, Trinity. Tras su graduación, se trasladó a la Universidad estadounidense de Princeton, donde trabajó con el lógico Alonzo Church. Recibió las enseñanzas de Godfrey Harold Hardy, un respetado matemático que ocupó la cátedra Sadleirian en Cambridge, y que posteriormente, fue responsable de un centro de estudios e investigaciones matemáticas entre 1931 y 1934. En 1935 Turing fue nombrado profesor del King's College.</p>
<h2 id="Solución">Solución al problema de decisión</h2>
<p>El Entscheidungsproblem, que se traduce como «problema de decisión», fue un reto en lógica simbólica para encontrar un algoritmo general que decidiera si una fórmula de cálculo de primer orden es un teorema. El problema fue planteado inicialmente por Leibniz en el siglo XVII luego de construir su máquina mecánica de cálculo. David Hilbert formalizó el problema en el VII Congreso Internacional de Matemáticas (Bolonia, 1928), planteando la búsqueda de un procedimiento algorítimico válido para solucionar las posibles cuestiones matemáticas, a través de tres preguntas:</p>
<ol>
    <li>¿Son las matemáticas completas?</li>
    <li>¿Son las matemáticas consistentes?</li>
    <li>¿Son las matemáticas decidibles?</li>
</ol>
<p>Si bien Hilbert suponía que la respuesta a las preguntas era afirmativa, Kurt Gödel, mediante los teoremas de Incompletitud demostró que las dos primeras preguntas no podrían serlo ya que, tal como afirma Gödel:</p>
<p>«En cualquier formalización consistente de las matemáticas que sea lo bastante fuerte para definir el concepto de los números naturales, se puede construir una afirmación que ni se puede demostrar ni se puede refutar dentro de ese sistema», mientras que el primero afirma: «Ningún sistema consistente se puede usar para demostrarse a sí mismo».</p>
<p>Sin embargo, no podían resolver la última pregunta. La dificultad estaba en la ausencia de significado de lo que se entiende por un «procedimiento mecánico». En 1936, Alan Turing en su trabajo Acerca de los números computables, introduce el concepto de la máquina de Turing y, junto a Alonzo Church demostraron ambos que es imposible escribir tal algoritmo. Como consecuencia, es también imposible decidir con un algoritmo general si ciertas frases concretas de la aritmética son ciertas o falsas.</p>

<h4><a href="#">VOLVER A SUBIR</a></h4>
<h2> <a style = "color:rgb(20, 153, 8)" href="/"> Volver al inicio de los heroes</a> </h2>
    
<h3 style = "color:rgb(20, 153, 8)" > FUENTE: <a href=" https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank" > Wikipedia</a>
</body>
</body>
</html>